<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
<p>When is your loved one's birthday? </p>
<p>On this site you will find many awesome recycled accessories which are perfect presents to any girls who like style, creativity and unique pieces. </p>
