<% content_for :title do %>About<% end %>
<h3>About Melinda Sztankovits</h3>
<p>I am a Hungarian girl living in Frankfurt who loves creative and recycle art among many other things. I like creating jewelleries and accessories from old T-shirts, plastic bottles or similar materials. It is a really good feeling not to throw out your old, overused stuff but create something else from it that can be still used for some time - and it is even fancy! </p>
<p> Wear recycled accessories, and help save the planet! </p> 

